<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body th:onload="loadToast()">
	<section class="layout-content" layout:fragment="corpo">
		<div id="gridAtleta" th:unless="${#lists.isEmpty(atletas)}">
			<nav class="navbar navbar-expand-md bg-light">
				<div class="containe-fluid">
					<i class="oi oi-caret-right"></i> <span>Cadastrar Atleta</span>
				</div>
				<div class="mx-auto">
					<a class="btn btn-primary btn-sm" href="/atleta/listar"
						role="button"> <span class="oi oi-plus"
						title="Cadastrar Atleta" aria-hidden="true"></span> <span>Cadastrar
							Atleta</span>
					</a>
				</div>
			</nav>
			<br />
			<div id="mensagem" th:unless="${mensagem==null}">
				<div class="alert alert-primary" role ="alert" th:text="${mensagem}"></div>
				<button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>
				<div th:replace="fragments/toast :: toast"></div>	
			</div>
			<br />
			<div class="table-responsive">
				<table class="table table-bordered table-hover" id="tableAtleta">
					<caption>
						[<span th:text="${#lists.size(atletas)}"></span>] Atleta(s)
						cadastrado(s)
					</caption>
					<thead class="table-dark">
						<tr>
							<th scope="col">
								<button type="button" class="btn" data-toogle="tooltip"
									title="Cadastrar novo Atleta"
									onclick="mostra_oculta('divAddAtleta')">
									<img src="../images/person-plus.svg">
								</button>
							</th>
							<th scope="col">Nome</th>
							<th scope="col">Apelido</th>
							<th scope="col">Data Nascimento</th>
							<th scope="col">Sexo</th>
							<th scope="col">Categoria</th>
							<th scope="col">Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="atleta : ${atletas}">
							<td th:text="${atleta.id}"></td>
							<td th:text="${atleta.nome}"></td>
							<td th:text="${atleta.apelido}"></td>
							<td
								th:text="${#temporals.format(atleta.dtNascimento,'dd/MM/yyyy')}"></td>
							<td th:text="${atleta.sexo}"></td>
							<td th:text="${atleta.categoriaAtleta.nome}"></td>
							<td><span id="editAtleta">
									<button id="btnEditAtleta" type="button" class="btn"
										data-toogle="tooltip" title="Editar informações do atleta."
										th:onclick="editar([[${atleta.id}]])">
										<img style="height: 20px; width: 20px;"
											src="../images/pencil.svg" alt="Editar Atleta">
									</button>
							</span> 
								<span id="delAtleta">
									<button th:id="${'btnExcluir_atleta/excluir?id='+atleta.id+'&nome='+atleta.nome}" 
										type="button" class="btn"
										data-bs-toggle="modal" data-bs-target="#modalConfirmar">
										<img style="height: 20px; width: 20px;" alt="Excluir Atleta"
											src="../images/trash.svg">
									</button>
								</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div th:replace="fragments/modal :: modal"></div>
		
	</section>
</body>

</html>